*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
div, main, section, footer{
  box-sizing: border-box;
}

main{
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  min-height: calc(100vh - 128px);
}

main .left{
  width: 70%;
}

main .left #in-out{
  border: 1px solid gray;
  border-collapse: collapse;
}

main .right{
  margin-top: 50px;
  width: 25%;
}

main .right .submit-box{
  border:1px solid gray;
  padding: 5px;
  text-align: center;
  position: sticky;
  top: 10px;
}


footer{
  height: 50px;
  background-color: rgb(61, 61, 61);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}